html {
        background:url(https://apis.xogrp.com/media-api/images/c772998f-36c4-400c-b316-7fa3f3cb48dd) no-repeat center center fixed;
        background-size: 1500px;
    }
h1{
    font-family: "al-fresco";
    text-align: center;
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.date{
    color:rgba(168, 129, 31, 1);
    font-family: azo-sans-web;
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px
    margin-top:0;
    margin-bottom: 0;
}
body {
    background-color: rgba(255, 255, 255, 0.54);
    margin: 70px 100px 100px 70px;
    padding: 3px 15px 15px 15px;
}
nav {
    font-family: azo-sans-web;
    position: absoliute;
    text-align: center;
    padding-top:20px;
    margin-bottom: 60px;
}
nav a{
    margin-right: 65px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    color:rgba(168, 129, 31, 1);
}

nav a:hover {
    color:rgba(255, 255, 255, 0.0);
    background:url(http://image.flaticon.com/icons/png/128/60/60993.png)no-repeat center;
    /*background: url(https://cdn1.iconfinder.com/data/icons/social-productivity-line-art-1/128/heart-love-2-128.png)no-repeat center;*/
    background-size: 20px;
}
.title {
    text-align: center;
    font-size: 50px;
    color:black;
    font-family: "al-fresco";
}
.welcome {
    text-align: center;
    font-size: 50px;
    color:black;
    font-family: "al-fresco";
}
p {
    padding: 0px 40px 0px 40px;
    font-family:azo-sans-web;
}
 hr {
    color:rgba(168, 129, 31, 1);
 }
#ourstory {
    padding-top: 20px;
}
.rsvp {
    text-align: center;
    font-size: 50px;
    color:black;
    font-family: "al-fresco";
}
#rsvp {
    padding-top: 20px;
}
.decor {
    margin-left: 265px;
    margin-bottom: 50px;
}
.registry {
    text-align: center;
    font-size: 50px;
    color:black;
    font-family: "al-fresco";
}
.registeredat {
    letter-spacing: 3px;
    text-align: center;
    font-family:azo-sans-web;
    color:rgba(168, 129, 31, 1);
}
#locations img {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}
#ikea {
    margin-left: 300px;
}
